body {
  width: 500px;
  margin: auto;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 5px;
  font-size: 1.8rem;
}

.calculator {
  padding: 20px;
  display: inline-block;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 332px;
  padding: 10px;
  text-align: right;
  font-size: 1.8rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators button {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operaors button:disabled, button[disabled] {
  background-color: #f1f1f1;
  cursor: not-allowed;
}

.operators button:not([disabled]):hover {
  background-color: #ddd;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators button:active {
  font-weight: bold;
}

.left-panel {
  display: inline-block;
}

.numbers button {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

#clear {
  width: 165px;
}

.numbers button:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers button:active {
  font-weight: bold;
}

button.equal {
  display: inline-block;
  border: 1px solid #3079ED;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 111px 10px;
  margin: 10px 0 0 0;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  background-color: #4d90fe;
  transition: all .2s ease-in-out;
}

.equal button:hover {
  background-color: #307CF9;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857BB;
}

.equal button:active {
  font-weight: bold;
}

